* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  background: #CCDBDC;
  height: 60px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

main {
  display: flex;
  justify-content: space-between;
  background-color: #80CED7;
}

img {
  width: 200px;
  height: 250px;
}

.page {
  width: 66%;
  text-align: center; 

}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  padding: 15px;
  flex-direction: column;
}

.watchlist {
  width: 33%;
}

.movie-card {
  background: #CCDBDC;
  width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin: 20px;
  border: 2px black solid;
  border-radius: 30px;
}

.btn-container{
  padding: 10px;
}
button{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms,background 200ms;
  background: transparent;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;
}

button:hover{
      transform: translateY(-2px);
}

.watchlist-header {
  text-align: center;
}

