* {
  box-sizing: border-box;
}
header {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
}

img {
  width: 200px;
  height: 250px;
}

.page {
  border: solid blue 2px;
  width: 66%;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  padding: 15px;
  flex-direction: column;
}

.watchlist {
  border: solid red 2px;
  width: 33%;
}

.movie-card {
  width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin: 20px;
}